body {
  color: rgba(4, 23, 42, 0.8);
  overflow-x: hidden;
  font-family: "DM Sans";
  background:#FFF;
}
li {
    margin: 10px;
}
ul {
    justify-content: flex-start;
    color: rgba(4, 23, 42, 0.8);
}
.base-nav{
    color: #000000;
    font-family: "DM Sans";
    font-size: 24px;
    margin: 0px;
}
.pleading_funding {
  margin: 50px 80px 50px 80px;
}

.plead_fund {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  color: rgba(4, 23, 42, 0.8);
  margin-left: 22px;
}

.title_laptop_detail {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: rgba(4, 23, 42, 0.5);
}
.profile_image_container {
  margin-left: 12px;
  width: 40px;
  height: 40px;
}
.profile p {
  margin-left: 20px;
}
.profile_image_container img {
  height: 100%;
  width: 100%;
}
.laptop_subdetail {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 0;
  color: rgba(4, 23, 42, 0.8);
}
.each_detail_row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 20px 0;
}
.description_detail {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 36px;
  color: rgba(4, 23, 42, 0.8);
}
.recommendations {
  padding: 20px 0;
}
.recommenders {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.no_of_recommmendations {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}
.recommender {
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px 2px;
  width: 100%;
}
.to_view_recom_details {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #6c63ff;
}
.detail_funding_2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: rgba(4, 23, 42, 0.8);
}
.get_funding_ASAP {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}
.funding_Loan {
  background: #fb3f5c;
  border: 1px solid #fb3f5c;
  border-radius: 10px;
  padding: 12px 20px;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.funding_Loan:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #fb3f5c;
}

.funding_socials a {
  margin-right: 20px;
  color: rgba(4, 23, 42, 0.8);
  justify-content: flex-end;
}
.funding_socials a > ion-icon {
  font-size: 30px;
}

.funding_socials {
    align-items: flex-end;
    justify-items: flex-end;
}
