.footer {
  background: #04172a;
  color: #ffffff;
}
.footer-wrap {
  padding-top: 40px;
}
footer hr {
  background-color: rgba(255, 255, 255, 0.1);
}

footer li {
  color: #ffffff;
  list-style: none;
  margin-top: 10px;
  font-size: 16px;
}
footer ul {
  list-style: none;
  padding-left: 0;
}

.footer-icons {
  display: flex;
  width: 120px;
  justify-content: space-between;
}

.footer-icons li {
  margin-left: 10px;
}
.hr-about,
.hr-contact {
  display: none;
}

.policy li {
  display: inline;
  margin-right: 28px;
}

@media (max-width: 768px) {
  footer {
    display: block !important;
    align-items: center;
    margin: auto;
    text-align: center;
    padding-top: 30px;
  }

  .footer-icons {
    margin: auto;
  }
  .footer-icons li a {
    margin-left: 0;
  }
  .info-why {
    order: 1;
  }
  .info-about {
    order: 2;
  }
  .info-contact {
    order: 3;
  }
  .policy {
    order: 1;
  }
  .copy {
    order: 2;
  }
  .hr-about,
  .hr-contact {
    display: block;
  }
}
