
.footer {
    height: 100vh;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #04172a;
  color: #ffffff;
  padding-left: 5.875em;
  padding-right: 5.875em;
  width: 100%;
  line-height: 30px;
}

.footer-li ul {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
  padding-right: 100px;
  padding-left: 100px;
  align-items: center;
  min-width: 100%; */
/*  position: absolute;
  bottom: 0;
  padding: 0;*/
}
.footer-li li {
  color: #ffffff;
  list-style: none;
  margin-top: 10px;
}

.footer-li h4 {
  color: #ffffff;
}
.footer-first-section{
  line-height: 40px;
}
.footer-contact-section{
  line-height: 40px;
}
.footer-icons {
  display: flex;
  justify-content: space-evenly;
}

.footer-icons li {
  /* margin-left: 10px; */
}

.bottom {
  display: flex;
  /*justify-content: space-between;*/
  /* margin-left: 148px; */
}

.bottom ul{
  padding: 0;
}

.bottom li {
  list-style: none;
  display: inline;
  /* margin-right: 30px; */
}



.footer-logo{
  display: none;
}
 .footer-divider{
   display: none;
/* position: absolute; */
width: 95%;
height: 0px;
left: 30px;
top: 228px;
border: 1px solid rgba(255, 255, 255, 0.5);
}




@media (max-width: 900px) {
  
   .footer-divider{
     display: block;
   }
  
  .footer-li {
    display: block !important;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .policy {
    padding-bottom: 2.5rem;
  }
  .policy li a {
    display: block;
  }
  .bottom {
    display: block !important;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    /*padding-top: 20px;*/
    /*line-height: 40px;*/
    top: 20em;
  }
  .bottom li {
    display: block !important;
    align-items: center;
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 10px;
  }
  
}






/* rule for mobile screen with a little wider screen */
 @media all and (min-width:560px){
  
   .footer-divider{
    display: block;
    /* position: absolute; */
    /*width: 100%;*/
    height: 0px;
    left: 30px;
    top: 228px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    }
  }  

 /* ----rule for tablet screen */
 @media all and (min-width: 778px) { 
    

   .left{
     min-width: 100%;
   }
   
   .footer-divider{
     display: none;
   }
   .third-divider{
     position: relative;
     margin-top:-5em;
     display:block;
     /* background-color: red; */
     height: 1px;
     width: 100%;
     left: -.2em;
   }
   
   
   .footer-logo{
      display: block;
      width: 9.625em;
    }
    .footer-first-section{
      display: flex;
      flex-direction: column;
      /* left:28.75em; */
    }
   .section-container{
      display: flex;
      flex-direction: row;
      margin-left: 10.75rem;
      justify-content: space-evenly;
      text-align: left;
      position: relative;
      top: 2.1em;
    }
    .first-section-1{
      display: flex;
      flex-direction: column;
      
    }
     .first-section-2{
      display: flex;
      flex-direction: column;
    }
     .footer-contact-section{
      display: flex;
      flex-direction: column;
      left:3;
      top:21.5em;
      position: absolute;
      margin-top:-14em;
      text-align: left;
    }
    .footer-icons{
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 20em;
      left: 3.5em;
    }
    .footer-icons li{
      margin:  1em 1em 1em 0;
    }
    .bottom{
      top: 19em;
      left: 1em;
      /* bottom: 0; */
      position: absolute;
      /* padding: 0; */
      /* background-color: pink; */
      /* text-align: left; */
      /* display: inline; */
    }

   .bottom div:nth-child(4){
      position: absolute;
      left: 4.8em;
    }
    .bottom div:nth-child(1), .bottom div:nth-child(2), .bottom div:nth-child(3){
      /*display: flex;*/
      /*flex-direction: row;*/
       /*justify-content: space-between; */
       margin-right: 3em; 
      position: relative;
      /*left: 40em;*/
      top: 0em;
      left: 28em;
      float: right;
    }
  
   
   
    .footer-icons{
      margin-top: -5em;
    }
    .footer-icons li{
      justify-content: left;
    }
  
    
 } 

/* -----rule for laptops with small screen */
 @media all and (min-width: 992px) { 
      
      


   .left{
     min-width: 100%;
   }
   
   .footer-divider{
     display: none;
   }
   .third-divider{
     position: relative;
     top:19em;
     display:block;
     /* background-color: red; */
     height: 1px;
     margin-top: -9.5em;
   }
   
   
   .footer-logo{
      display: block;
      width: 9.625em;
    }
    .footer-first-section{
      display: flex;
      flex-direction: column;
      /* left:28.75em; */
    }
     .section-container{
      display: flex;
      flex-direction: row;
      margin-left: 10.75rem;
      justify-content: space-evenly;
      text-align: left;
      position: relative;
      top: 2.1em;
    }
    .first-section-1{
      display: flex;
      flex-direction: column;
      
    }
     .first-section-2{
      display: flex;
      flex-direction: column;
    }
     .footer-contact-section{
      display: flex;
      flex-direction: column;
      left:3;
      top:21.5em;
      position: absolute;
      margin-top:-14em;
      text-align: left;
    }
    .footer-icons{
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 20em;
    }
    .footer-icons li{
      margin:  1em 1em 1em 0;
    }
    .bottom{
      top: 19em;
      left: 5em;
      /* bottom: 0; */
      max-width: 50%;
      position: absolute;
      /* padding: 0; */
      /* background-color: pink; */
      /* text-align: left; */
      /* display: inline; */
    }

   .bottom div:nth-child(4){
      position: absolute;
      left: .5em;
    }
    .bottom div:nth-child(1), .bottom div:nth-child(2), .bottom div:nth-child(3){
      /*display: flex;*/
      /*flex-direction: row;*/
       /*justify-content: space-between; */
      /* margin-right: 3em; */
      position: relative;
      /*left: 40em;*/
      top: 0em;
      left: 40em;
    }
 
    .footer-icons{
      margin-top: -5em;
    }
    .footer-icons li{
      justify-content: left;
    }
 }  

