.footer {
  background: #04172a;
  color: #ffffff;

}

.footer-li {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-right: 100px;
  padding-left: 100px;
}
.footer-li li {
  color: #ffffff;
  list-style: none;
  margin-top: 10px;
}

.footer-li h4 {
  color: #ffffff;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
}

.footer-icons li {
  margin-left: 10px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-left: 148px;
}

.bottom li {
  list-style: none;
  display: inline;
  margin-right: 30px;
}


@media (max-width: 900px) {
  .footer-li {
    display: block !important;
    align-items: center;
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }
  .policy {
    margin-bottom: 0;
  }
  .policy li a {
    display: block;
  }
  .bottom {
    display: block !important;
    align-items: center;
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 20px;
  }
  .bottom li {
    display: block !important;
    align-items: center;
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 10px;
  }
}
