/* Header styles */
.nav-top a.nav-link {
  color: black !important;
  font-size: 1em;
}

.nav-top a.nav-link:hover {
  color: var(--fml-secondary) !important;
}

.nav-top button {
  font-size: 18px;
}
