.navbar {
  background-color: #ffffff !important;
  padding-left: 80px;
  padding-right: 40px;
}

nav ul li {
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  color: #04172a;
  padding-right: 1.4rem;
  font-weight: 500;
}

.navbar ul li a {
  font-weight: 500;
}
nav ul li a {
  font-weight: 500 !important;
}
.nav-btn {
  width: 90px !important;
  height: 30px !important;
  border-radius: 10px;
  background: #fb3f5c;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  border: 0;
  outline: 0;

  padding: 6px 24px;
  line-height: 21px;
}

.b