@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: local('DM Sans Regular'), local('DMSans-Regular'),
    url('../font/dm-sans-v4-latin-regular.woff') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../font/dm-sans-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body{
    background-color: #F0F0F0;
    position: relative;
}
.styled-box{
    position: relative;
    z-index: -1;
    height: 485.5px;
    /* top: 99px; */
    background-color: #04172A;
    clip-path: polygon(0 0, 100% 0, 100% 44%, 0 100%);
}
.dm-sans{
    font-family: "DM Sans";
}
::-webkit-scrollbar{width:15px !important;
height: 10px !important ;}

::-webkit-scrollbar-track{border:1px solid #04172A !important;
    border-radius: 10px;
    height: 10px !important ;}
::-webkit-scrollbar-thumb{background: #04172A !important;
border-radius: 10px;}

::-moz-scrollbar{width:20px !important}

::-moz-scrollbar-track{border:1px solid #04172A !important;}
::-moz-scrollbar-thumb{background: #04172A !important;}

.card-body::-webkit-scrollbar{width:20px !important}

.card-body::-webkit-scrollbar-track{border:1px solid #04172A !important;}
.card-body::-webkit-scrollbar-thumb{background: #04172A !important;}

.card-body::-moz-scrollbar{width:20px !important}

.card-body::-moz-scrollbar-track{border:1px solid #04172A !important;}
.card-body::-moz-scrollbar-thumb{background: #04172A !important;}

