body {
  overflow-x: hidden;
}
/* verification progress indicator styles */
.verification-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.verify-item {
  width: 25%;
  border-top: 3px solid #c0c0c0;
  text-align: center;
  position: relative;
}

.verify-item.active {
  border-top-color: var(--fml-secondary);
}

.verify-item .text {
  font-size: 12px;
  padding-top: 30%;
  display: block;
}

.verify-item .verify-circle {
  position: absolute;
  display: block;
  left: 50%;
  top: 0;
  width: 45%;
  padding-top: 45%;
  border-radius: 50%;
  background: #c0c0c0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
  transform-origin: center;
  color: white;
}

.verify-item .verify-circle .progress-number {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
  transform-origin: center;
  font-size: calc(12px + 12 * ((100vw - 320px) / (1366 - 320)));
  font-weight: 500;
}

.verify-item .verify-circle.active {
  background: var(--fml-secondary);
}

.required {
  font-size: 80%;
  color: red;
}

.verify-form-address input,
.verify-form-address select {
  height: 45px;
  border: 1px solid rgba(4, 23, 42, 0.7);
}

.verify-form-address button {
  font-weight: 500;
}

/* Image Upload DropZone Styles */
.dropzone {
  border: 2px dashed #dedede;
  border-radius: 5px;
  background: #f5f5f5;
}

.dropzone i {
  font-size: 5rem;
}

.dropzone .dz-message {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
  font-size: initial;
  text-transform: uppercase;
}
.dropzone .dz-preview.dz-image-preview {
  position: absolute;
  top: 2%;
  left: 2%;
  max-width: 100%;
  height: auto;
}
.dropzone .dz-preview .dz-image {
  width: 100%;
  height: 100%;
}
.dropzone .dz-preview.dz-error .dz-error-message {
  display: none;
}
